<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to tailwind and daisyui style sheet-->
    <link rel="stylesheet" href="/styles/style.css">
    <title>Home page</title>
</head>
<body class="bg-hero min-h-screen bg-cover bg-no-repeat">
  <%- include('templates/navigation', { req: req }); %>
    <div class="flex justify-center w-full items-center h-screen">
      <div class="stats shadow">
      <% for (let i = 0; i < products.length; i++) { %>
        <div class="stat place-items-center">
          <div class="stat-title text-white text-2xl"><%= products[i].productName %></div>
          <div class="stat-desc text-white text-base">Stock level:</div>
          <div class="stat-value"><%= products[i].Quantity %></div>
          <div class="stat-desc text-red-600 text-base">This item is low on stock</div>
        </div>
        <% } %>  
        </div>
        <!--Current value of stock-->
        <div class="stats shadow">
          <div class="stat">
            <div class="stat-title text-white text-2xl">Current value of stock:</div>
            <div class="stat-value">£<%= total %></div>
          </div>
          <!--Automatic reordering (Only avaliable to admin)-->
          <div class="card w-96 bg-base-100 shadow-xl image-full">
            <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
            <div class="card-body">
              <h2 class="card-title">Shoes!</h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">Buy Now</button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
</body>
</html>