<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to tailwind and daisyui style sheet-->
    <link rel="stylesheet" href="/styles/style.css">
    <title>Search for a product</title>
</head>
<body class="bg-hero min-h-screen bg-cover bg-no-repeat">
    <%- include('templates/navigation'); %>
    <h1>Search for a product</h1>
</body>


</html>