<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to tailwind and daisyui style sheet-->
    <link rel="stylesheet" href="/styles/style.css">
    <title>Home page</title>
</head>
<body class="bg-hero min-h-screen bg-cover bg-no-repeat">
    <div class="hero min-h-screen">
        <div class="hero-content flex-col lg:flex-row  backdrop-blur-2xl ">
            <p>This is where the magic will happen</p>
        </div>
    </div>

</body>
</html>