<div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl">Inventory management for you!</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/home">Home</a></li>
        <li tabindex="0">
          <a>
            Add/Delete Products
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
          </a>
          <ul class="p-2 bg-base-100">
            <li><a href="/addProducts">Add a product</a></li>
            <li><a href="/deleteProducts">Delete a product</a></li>
          </ul>
        </li>
        <li><a href="/search">Search</a></li>
      </ul>
    </div>
  </div>